<h2><%= @item.title %></h2>
<h3><%= @item.maker %></h3>
<h4>Category: <%= @item.category.name %></h4>
<h4><%= @item.description %></h4>

<%= link_to "Back", root_path %>
<%= link_to "Edit", edit_item_path(@item) %>

<% if user_signed_in? %>
	<% if @item.user_id == current_user.id %>
		<%= link_to "Delete", item_path(@item), method: :delete, data: {confirm: "Are you sure?"} %>
	<% end %>
<% end %>